html {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  font-family: Roboto Condensed;
  font-size: 3rem;
  line-height: 1.1;
  margin: 0;
  margin-right: 5rem;
  margin-left: 1.4rem;
  margin-top: 0;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-content {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 45em;
  transform: translate(-50%, -50%);
  width: 100%;
}

.btn {
  font-size: 1.5rem;
  text-align: center;
  padding: .5em .75em;
  border-radius: 8px;
  border-width: 3px;
  display: inline-block;
  background-color: #333;
}

.btn-big {
  margin-left: 1.4rem;
}

.btn:hover {
  background-color: #003;
}

.killme {
  display: block;
  flex-direction: column;
  width: 100%;
  margin-right: 1rem;
  margin-left: 1.6rem;
  margin-top: 1em;
}

.kill-me-pt2 {
  width: 50%;
  margin-left: 1em;
  margin-top: .5em;
}

p {
  font-size: 1.5rem;
  margin-right: .5em;
  margin-top: .5em;
  margin-left: 1.4rem;
}

a {
  color: #fff;
  text-decoration: none;
}
