html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  font-family: Roboto Condensed, sans-serif;
  font-size: 1.5rem;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
  justify-content: center;
}

img {
  display: block;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-content {
  position: absolute;
  left: 50%;
  top: 1rem;
  text-align: left;
  max-width: 50em;
  width: 45em;
  transform: translateX(-50%);
}
